<div class="modal-header">
	<h5 class="modal-title">Add Series</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form #fieldForm="ngForm">
	<div class="modal-body">
		<div class="row mb-2">
			<div class="col-12">
				<button type="button" class="btn btn-primary float-right mb-2" (click)="addField()">Add Field</button>
			</div>
		</div>
		<section class="container border mb-4 p-3" *ngIf="arrayItems.length > 0">
			<div class="row mb-2" *ngFor="let item of arrayItems; let i = index;">
				<div class="col-6">
					<input type="number" class="form-control" [(ngModel)]="item.id" name="series_{{i}}" placeholder="10"/>
				</div>
				<div class="col-6">
					<button type="button" class="btn btn-danger btn-sm" (click)="removeField(i)">Remove</button>
				</div>
			</div>
		</section>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="createSeries()">Create</button>
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancel()">Close</button>
	</div>
</form>