<!-- Chart options -->
<form>
	<div class="custom-form">
		<div class="formgroup selectbox">
			<label>Select Chart Type</label>
			<ng-select [items]="chartTypes"
				bindLabel="name"
				bindValue="id"
				placeholder="Select Type"
				name="type"
				[(ngModel)]="chartType"
				(change)="changeChartType($event)">
			</ng-select>
		</div>
		<div class="formgroup buttons">
			<button class="btn btn-info " (click)="addSeries()">Add Series</button>
			<button class="btn btn-danger" (click)="removeSeries()">Remove Series</button>
		</div>
	</div>
</form>

<!-- Chart -->
<div [chart]="chart" class="charts"></div>