.charts
	padding-top: 1rem
.custom-form
	border-bottom: 1px solid darkblue
	padding: 2rem 0
	display: flex
	.formgroup
		label 
			display: inline-block
			margin-bottom: .5rem
		&.selectbox 
			width: 30%
		&.buttons
			margin-top: 1.5rem
			.btn
				margin-right: 1rem
				margin-left: 1rem
				display: inline-block
				font-weight: 400
				text-align: center
				white-space: nowrap
				vertical-align: middle
				-webkit-user-select: none
				-moz-user-select: none
				-ms-user-select: none
				user-select: none
				border: 1px solid transparent
				padding: .375rem .75rem
				font-size: 1rem
				line-height: 1.5
				border-radius: .25rem
				transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
				&.btn-info 
					background-color: #17a2b8
					border-color: #17a2b8
					color: #FFFFFF
				&.btn-danger 
					color: #FFFFFF
					background-color: #dc3545
					border-color: #dc3545